* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pokemons-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-div {
     margin-left: 25rem;
}